body {
    background-color: rgb(200, 82, 22);
    
    text-align: center;
}

h1 {
    font-style: italic;
    font-size: 20 pm ;
}

h2{
    font-size: 15 pm ;
    color:red
}

a {
    text-decoration:none; 
}